body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    margin-bottom:  2em;
}

.Sketch-Area {
    display: flex;
    flex-wrap: wrap;
    border: black solid 1px;
    width: 640px;/*gridSize*cellWidth*/
    height: 640px;
    background-color: #f6eee3;
    
  }

.cell{
    width: 40px; /* Width of each cell item */
    height: 40px; /* Height of each cell item */
    border: 1px solid rgba(0,0,0, 0.25); /* Border for visibility */
    box-sizing: border-box; /* Include padding/border in width/height */
    display: flex; /* Center content */  
}

.up-buttons{
    display: flex;
    padding-bottom: 5px;
}

button{
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 13px;

    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1em 2em;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;

    margin-right: 4px;
}



